<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
</head>
<body>
<section id="home">
    <div class="col-md-5 col-md-offset-1">
<div class="signup">
    <div class="form">


        <form th:action="@{/login}" class="signup-form" method="post" style="max-width: 400px; margin: 0 auto">
            <h2 class="text-center">Welcome</h2>
            <hr>
           <div class="form-group">
            <input type="email" placeholder="Email" name="email" required>
           </div>

            <div class="form-group">
            <input type="password" placeholder="Password" name="password"  required>
            </div>
            <br>

            <div class="form-control">
                <a th:href="@{/forgotPassword}">Forgot password? </a>
            </div>
            <br>
            <hr>
            <br>
            <br>
            <span>
            <div class="form-group" >
                <input type="submit" class="btn btn-blue btn-block" value="Login">
                <h3>OR</h3>
                <h4><a th:href="@{/processRegister}">create account</a></h4>
            </div>

            </span>
            <br>
            <br>
        </form>

    </div>
</div>
    </div>
</section>


</body>
</html>