<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registration form</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" th:href="@{/RegistrationCss/css/nunito-font.css}">
    <!-- Main Style Css -->
    <link rel="stylesheet" th:href="@{/RegistrationCss/css/style.css}"/>
</head>
<body class="form-v9">
<div class="page-content">
    <div class="form-v9-content" style="background-image: url('RegistrationCss/images/form-v9.jpg')">
        <form class="form-detail" th:action="process_register" th:object="${user}" method="post">
            <h2>Create Account</h2>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="text" th:field="*{firstName}"  name="first-name" id="first-name" class="input-text" placeholder="First Name" required>
                </div>
                <div class="form-row">
                    <input type="text" th:field="*{lastName}" name="last-name" id="last-name" class="input-text" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="email" th:field="*{email}" name="your-email" id="your-email" class="input-text" placeholder="Your Email" required>
                </div>
                <div class="form-row">
                    <input type="text" th:field="*{contact}" name="contact" id="contact" class="input-text" placeholder="Contact" required>
                </div>

            </div>

            <div class="form-row-total">
                <!-- <div class="form-row">
                    <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Your Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div> -->
                <div class="form-row">
                    <input type="password" th:field="*{password}" name="password" id="password" class="input-text" placeholder="Your Password" required>
                </div>
                <div class="form-row">
                    <input type="password" th:field="*{password}" name="confirm-password" id="confirm-password" class="input-text" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="form-row-last">
                <input type="submit" name="register" class="register" value="Register">
            </div>
        </form>
    </div>
</div>
</body>
</html>